<launch>
  <include file="$(find openni2_launch)/launch/openni2.launch" />
  <node name="filter" pkg="detection" type="filter"/>
  <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
    <arg name="camera_name" value="/camera/ir"/>
    <arg name="image_topic" value="image_raw"/>
  </include>
</launch>  
