<launch>
  <rosparam command="load" file="$(find detection)/config/detection/general.yaml"/>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py"/>

  <node name="synchronizer" pkg="detection" type="synchronizer"/>

  <include file="$(find detection)/launch/openni2.launch"/>

  <node name="filter" pkg="detection" type="filter" output="screen"/>

  <include file="$(find detection)/launch/apriltag.launch">
    <arg name="camera_name" value="/camera/ir/"/>
    <arg name="image_topic" value="/image_filtered"/>
  </include>

</launch>  
